body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.login-page {
  color: red;
  padding: 50px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}
