.reg-page {
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(168, 153, 169, .45)), url(../img/register-background.jpeg);
  background-repeat: no-repeat;
}

.reg {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: left;
  align-items: center;
  margin-top: 170px;

  &__form {
    font-size: 24px;
    font-family: "Ipr", monospace;
    color: white;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    flex-wrap: wrap;
  }

  .create-account {

    &__field {
      .type-field {
        height: 40px;
        border: 1px solid #73bed6;
        border-radius: 10px;
        font-size: 18px;
        padding: 5px;
      }

    }

    .personal {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      label {
        margin-bottom: 20px;
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }

    .password {
      &__primary, &__repeat {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .create-button {
    display: flex;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    justify-content: center;

    &__submit {
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid #bba2f7;

      &:hover {
        background-color: #e5f5e1;
      }
    }
  }
}
